.parentDiv{
    min-height: 100vh;
}
.btn{
    border: none;
}
.logo{
    max-width: 70px;
}

.form-control{
    border-radius: 50px;
    border: none;
}
.form-control::placeholder, .form-check-label{
    font-weight: 100;
}

.form-control {
    color: #3D199B;
    font-weight: 200;
} 

@media (max-width: 350px) {
    .descriptionTitle{
        font-size: 1rem;
    }
    .form-control::placeholder, .form-check-label{
        font-size: 0.7rem;
    }
    .btn-responsive {
        font-size: 0.7rem;
    }
    .form-control-responsive{
        font-size: 0.8rem;
    }
    .logo{
        max-width: 30px;
    }
}

@media (min-width:350) and (max-width: 600px) {
    .descriptionTitle{
        font-size: 1rem;
        margin: 1rem auto;
        color: #525252;
        font-weight: 200;
    }
    .form-control::placeholder, .form-check-label{
        font-size: 0.6rem;
    }
    .btn-responsive {
        font-size: 0.6rem;
    }
    .logo{
        max-width: 40px;
    }
    .form-control-responsive{
        font-size: 0.8rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 767.98px) { 
    .descriptionTitle{
        font-size: 2rem;
        color: #525252;
        font-weight: 200;
    }
    .btn-responsive {
        font-size: 0.8rem;
    }
    .form-control-responsive{
        font-size: 0.8rem;
    }
}

/* // // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .descriptionTitle{
        font-size: 1.8rem;
        color: #525252;
        font-weight: 200;
    }
    .btn-responsive {
        font-size: 0.8rem;
    }
    .form-control::placeholder, .form-check-label{
        font-size: 1rem;
    }
    .logo{
        max-width: 40px;
    }
}

/* // // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .descriptionTitle{
        font-size: 1.8rem;
        margin-top: 3rem;
        color: #525252;
        font-weight: 200;
    }
    .btn-responsive {
        font-size: 1rem;
        padding: 1rem 1.2rem;
        margin-bottom: 1.8rem;
    }
}

/* // // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .descriptionTitle{
        font-size: 2.25rem;
        margin-top: 4rem;
        color: #525252;
        font-weight: 200;
    }
    .form-check-label{
        font-size: 1rem;
        color: #525252;
    }
}