.sidebar-overlay {
  width: 100vw;
  height: 100vh;

  position: absolute;
  overflow: hidden;
  pointer-events: none;
  padding: 1rem;
  display: flex;
}

.sidebar {
  /* overflow: auto; */
  position: relative;
  pointer-events: auto;
  transition: transform 1s;
  z-index: 10;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

.sidebar-toggle-wrapper {
  position: absolute;
  display: flex;
}

.sidebar-toggle {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: none;
  background-color: white;
  border-radius: 50%;
}

.sidebar-toggle:hover {
  color: white;
  background-color: #f79c78;
  cursor: pointer;
}

.sidebar-content {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  padding-top: 0;
}

.display-routes {
  display: flex;
  flex-direction: column;
}
.route-container {
  display: flex;
  background-color: #f2f4f6;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.ruta {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  margin: 0.5rem;
}
.route-box {
  display: flex;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  background-color: #8f97e0;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.route-card {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .sidebar-overlay {
    justify-content: flex-end;
    padding-right: 0;
  }
  .sidebar {
    border-radius: 10px 0 0 10px;
    width: 400px;
  }
  .sidebar-collapsed {
    transform: translateX(100%);
  }
  .sidebar-toggle-wrapper {
    height: 100%;
    align-items: center;
    left: -3rem;
    top: 0;
  }
}

@media screen and (max-width: 599px) {
  .sidebar-overlay {
    align-items: flex-end;
    padding: 25% 0 0;
  }
  .sidebar {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .sidebar-collapsed {
    transform: translateY(100%);
  }
  .sidebar-toggle-wrapper {
    width: 100%;
    justify-content: center;
    top: -3rem;
    left: 0;
  }
  .sidebar-toggle {
    transform: rotate(90deg);
  }
}

.sidebar-header {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.filter-routes-container {
  display: flex;
  align-items: center;
}
.filter-routes-btns {
  background-color: #f2f4f6;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.filter-routes-btns:focus {
  background-color: #3d199b;
  color: white;
}

.default-active-button {
  background-color: #3d199b;
  color: white;
}

#active,
#inactive {
  border-radius: 10px;
  align-self: flex-start;
}
#active-image,
#inactive-image {
  padding: 2px;
  width: 40px;
}

#inactive-image {
  background-color: #d2d2d2;
}
#active-image {
  background-color: #f79c78;
}

.name {
  font-size: 12px;
}

.filter-btns {
  border: none;
  font-weight: 700;
  position: sticky;
  top: 0;
}
.filter-btns:focus {
  outline: none;
  box-shadow: none;
}
.filter-btns:hover {
  color: var(--color-primary);
}

.filter-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-image {
  border-radius: 50%;
}
