.popup{
    margin-left: 2px;
}

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.bottom {
    bottom: 0px;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sidebar-toggle.right {
    left: -1.7em;
}

.sidebar-toggle.bottom {
    top: -1.7em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}
 
.sidebar.right {
    right: 0;
    transition: transform 1s;
    z-index: 1;
    width: 350px;
    height: 100%;
}
.sidebar.bottom {
    bottom: 0;
    transition: transform 1s;
    z-index: 1;
    width: 100%;
    height: 200px;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
 
.right.collapsed {
    transform: translateX(345px);
}

.bottom.collapsed {
    transform: translateY(195px);
}
